<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>Tallahassee Incident Map</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 30.4383, lng: -84.2807};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYGEab4fDhfc_FLseqxrb73XmGIsQwxnE&callback=initMap">
    </script>
  </body>
</html>
